replicaCount: 1

image:
  repository: ghcr.io/crazy-max/samba
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer

  ports:
    smb:
      enabled: true
      port: 445

    wsdd:
      enabled: true
      port: 3702

    llmnr:
      enabled: true
      port: 5355

persistence:
  enabled: false
  hostPath: /mnt/samba-data
  mountPath: /samba

env:
  TZ: Europe/Kyiv
  CONFIG_FILE: /data/config.yml
  SAMBA_WORKGROUP: WORKGROUP
  SAMBA_SERVER_STRING: K8s Samba Server
  SAMBA_LOG_LEVEL: "0"
  SAMBA_FOLLOW_SYMLINKS: "no"
  SAMBA_WIDE_LINKS: "no"
  SAMBA_HOSTS_ALLOW: "10.42.0.0/16"
  SAMBA_INTERFACES: ""
  WSDD2_ENABLE: "1"
  WSDD2_HOSTNAME: "SAMBA"
  WSDD2_NETBIOS_NAME: "SAMBA"
  WSDD2_INTERFACE: "eth0"

resources: {}

securityContext:
  runAsUser: 0
  runAsGroup: 0
  runAsNonRoot: false
  allowPrivilegeEscalation: true
  capabilities:
    add:
      - NET_ADMIN
      - NET_RAW

nodeSelector: {}
tolerations: []
affinity: {}

configYAML: |
  auth:
    - user: foo
      group: foo
      uid: 1000
      gid: 1000
      password: bar
    - user: baz
      group: xxx
      uid: 1100
      gid: 1200
      password_file: /run/secrets/baz_password

  global:
    - "force user = foo"
    - "force group = foo"

  share:
    - name: public
      comment: Public
      path: /samba/public
      browsable: yes
      readonly: yes
      guestok: yes
      veto: no
      recycle: yes
    - name: share
      path: /samba/share
      browsable: yes
      readonly: no
      guestok: yes
      writelist: foo
      veto: no
    - name: foo
      path: /samba/foo
      browsable: yes
      readonly: no
      guestok: no
      validusers: foo
      writelist: foo
      veto: no
      hidefiles: /_*/
    - name: foo-baz
      path: /samba/foo-baz
      browsable: yes
      readonly: no
      guestok: no
      validusers: foo,baz
      writelist: foo,baz
      veto: no
