replicaCount: 1

image:
  repository: ghcr.io/crazy-max/samba
  tag: ""  # Uses Chart.AppVersion if empty
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer

  ports:
    smb:
      enabled: true
      port: 445

    wsdd:
      enabled: true
      port: 3702

    llmnr:
      enabled: true
      port: 5355

persistence:
  enabled: false
  hostPath: /mnt/smb-share
  mountPath: /samba

configPersistence:
  enabled: false
  size: 100Mi
  storageClass: ""
  mountPath: /data

env:
  TZ: Europe/Kyiv
  CONFIG_FILE: /data/config.yml
  SAMBA_WORKGROUP: WORKGROUP
  SAMBA_SERVER_STRING: K8s Samba Server
  SAMBA_LOG_LEVEL: "0"
  SAMBA_FOLLOW_SYMLINKS: "no"
  SAMBA_WIDE_LINKS: "no"
  SAMBA_HOSTS_ALLOW: "10.42.0.0/16"
  SAMBA_INTERFACES: ""
  WSDD2_ENABLE: "1"
  WSDD2_HOSTNAME: "SAMBA"
  WSDD2_NETBIOS_NAME: "SAMBA"
  WSDD2_INTERFACE: "eth0"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

securityContext:
  runAsUser: 0
  runAsGroup: 0
  runAsNonRoot: false
  allowPrivilegeEscalation: true
  capabilities:
    add:
      - NET_ADMIN
      - NET_RAW

nodeSelector: {}
tolerations: []
affinity: {}

configYAML:
  auth:
    - user: mikrotik
      group: mikrotik
      uid: 1300
      gid: 1300
      password: mikrotik
    - user: windows
      group: windows
      uid: 1400
      gid: 1400
      password: windows

  share:
    - name: mikrotik-backup
      path: /samba/mikrotik-backup
      browsable: yes
      readonly: no
      guestok: no
      validusers: mikrotik
      writelist: mikrotik
      veto: no
      uid: 1300
      gid: 1300
    - name: windows-backup
      path: /samba/windows-backup
      browsable: yes
      readonly: no
      guestok: no
      validusers: windows
      writelist: windows
      veto: no
      uid: 1400
      gid: 1400
