replicaCount: 1

image:
  repository: tess1o/go-ecoflow-exporter
  tag: ""  # Uses Chart.AppVersion if empty
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 2112

exporter:
  type: mqtt        # mqtt | rest

  devices: ""
  devicesPrettyNames: ""

  mqtt:
    deviceOfflineThresholdSeconds: 30

existingSecret:
  enabled: true
  name: go-ecoflow-exporter

prometheus:
  enabled: true

debug:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

serviceAccount:
  create: true
  name: ""

nodeSelector: {}
tolerations: []
affinity: {}
